.grid{
    width: 86vw;
    max-width: 76rem;
    margin:1rem auto 0;
    list-style: none}
    
.grid>*{
    display: block;
    margin: 1rem auto}

@media (min-aspect-ratio:1/1),(min-width:43rem){
    .grid>*{
        display: inline-block;
        max-width: 18rem;
        margin:.25rem .3rem}
    
    @supports(display:grid){
        .grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
            grid-gap: 1rem}

        .grid>*{
            max-width: none;
            align-self: start;
            margin: 0}
    }
}