/*HELPERS*/
.visually-hidden {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px}

.pseudo::before,
.pseudo::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%}

.center{
    display: grid;
    place-items:center}
    
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    width: 100%;
}

ol, ul {
  list-style: none;
}

section *+*{margin-top:1.618em}
footer{padding: 1.618rem}
footer *{font-size: .75rem}
footer li{margin-top: 0}

.shadow{box-shadow:0 0 1.618rem rgba(0,0,102,.04),0 0 .618rem rgba(0,0,102,.04),0 .056rem .056rem rgba(0,0,102,.04),0 .09rem .09rem rgba(0,0,102,.04),0 .146rem .146rem rgba(0,0,102,.04),0 .236rem .236rem rgba(0,0,102,.04);}

:root {
    font-size: 100%;
    font-size: clamp(100%, 61.8% + 0.618vw, 161.8%);
    line-height: 1.618;
    color: #222;} 

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

html{scroll-behavior: smooth}

body{
    font-family:system-ui,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    background-color: #fdfcfb}

main{position: relative}

#page-header{
    height: 100vw;
    max-height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    margin-top: -2.618rem;*/
    padding: 1rem;
    background: #ddd;
}

#page-header *{text-align: center}

#page-header h2{
/*    font-family: 'fira sans condensed';*/
    margin-top: 1em

}

#page-header h2 span{
    display: block
}

article *{max-width:62ch}
div,header,section,aside,footer,hr,iframe,figcaption{max-width: none}

section{
    scroll-margin-top:2.618rem;
    padding: 2.618rem 0 2.618rem;}

section:nth-of-type(even){
    background-color:#f7fafd;
    border-top: 1px solid #cce0f5;
    border-bottom: 1px solid #cce0f5}

.inner{
    width: 86vw;
    max-width: 46.971rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 2.618em}

hr{border:none;height:1px;background:#ddd}
/**/
h1,.h1,h2,.h2,h3,.h3,h4,.h4{font-weight: 700}
h1,.h1{
    font-size:1.618rem;
    font-size: clamp(100%, 1rem + 4.236vw, 423.6%);
    line-height: 1;
    text-align: center;
    max-width: 29rem;
    margin: 0 auto}

h2,.h2{
    font-size:1.618rem;
    font-size: clamp(100%, 1rem + 2.618vw, 261.8%);
    line-height: 1.125}

section header h2{
    width: 86vw;
    max-width: 46.971rem;
    margin: 0 auto}

h3,.h3,blockquote{
    font-size:1.382rem;
    font-size: clamp(100%, 1rem + 1.618vw, 161.8%);
    line-height: 1.2}

.subhead{
    margin-bottom: 2.618rem;
    max-width: 100%;
    font-weight: 300}

.subhead strong,
blockquote strong{font-weight: 900}

blockquote{
    font-weight: 300;
    max-width: 38ch}

blockquote.verse{font-family:'roboto slab',georgia,serif}

blockquote strong{font-weight: 800}
blockquote .quote:first-of-type{margin-left: -.63ch}

blockquote.verse .quote{margin-left: -.53ch}

blockquote cite{
    display: block;
    font-size: 1rem;
    line-height: 1.618;
    font-style: normal;
    text-align: right}

h4,h5,h6{
    font-size:1rem;
    line-height: 1.382;}

main a,
footer a{
    color: #06c;
    font-weight: bold;
    text-decoration: underline}

article ul{list-style: circle}
article li{margin-left: 1em;}
article li+li{margin-top:1rem}

main dt{font-weight: 700}
main dd+dt{margin-top: 1rem}

p{hanging-punctuation: first force-end last}

address,sup,sub,small,.small,figcaption{
    font-size: .75rem;
    line-height: 1.382;
    max-width: 100ch}


sub,sup{line-height: 1}

figcaption{margin-top: .618em;}

figcaption strong{text-transform: uppercase}
address{font-style: normal}

.three-up{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto
}
        
.three-up>*{flex:1 1 18rem;}

@media (hover:hover){
    main a{transition: all .4s ease}
    main a:hover{filter: brightness(1.15)}
}