/*RESETS*/
*{box-sizing: border-box}
:where(*){margin: 0}
main img,main video,main iframe{
    display: block;
    width: 100%}

[hidden]{display: none}
html,body{
    height: 100%;
    margin: 0}

html{
    -webkit-text-size-adjust:none;
    text-size-adjust:none}

@media(prefers-reduced-motion:no-preference){html{scroll-behavior: smooth}}

.visually-hidden {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px}

.pseudo{position: relative}
.pseudo::before,
.pseudo::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block}

:where(.space-small>*+*){margin-top: 1em}
:where(.space>*+*){margin-top: 1.618em}
:where(.space-large>*+*){margin-top: 2.618em}

/*hide scrollbar*/
.touch .scroll-x,.hide-scrollbar{
    scrollbar-width:0;
    scrollbar-color:rgba(0,0,0,0) rgba(0,0,0,0)}

.touch .scroll-x::-webkit-scrollbar,.hide-scrollbar::-webkit-scrollbar{
    width:0;
    height:0}

.touch .scroll-x::-webkit-scrollbar-thumb,.touch .scroll-x::-webkit-scrollbar-track,.hide-scrollbar::-webkit-scrollbar-thumb,.hide-scrollbar::-webkit-scrollbar-track{background:rgba(0,0,0,0)}

/*BASIC LAYOUT*/
main{position: relative}
main>header~*{
    scroll-margin:2.618em;
    padding: 2.618em 0 4.236em}

main>*>*{
    margin-right: max(1em,((100% - 100ch) / 2));
    margin-left: max(1em,((100% - 100ch) / 2))}

main>*>*>*:not(a,aside,button,div,figcaption,h1,.h1,h2,.h2,header,header img,header video,hgroup,hgroup p,small,.small){width: min(100%, var(--ch-unit)*62)}

.grid{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));
    gap:1ch}

/*BASIC TYPOGRAPHY*/
:root{
    --base-unit:1em;
    --ch-unit:calc(var(--base-unit)*.565);
    --h3:calc(var(--base-unit)*1.382);
    --h2:calc(var(--h3)*1.236);
    --h1:calc(var(--h2)*1.236)}

@supports(font-size:clamp(1rem, 0.38vw + .93rem, 1.382rem)){:root{--base-unit:clamp(1rem, 0.48vw + 0.9rem, 1.63rem)}}

body{
    font-family:system-ui;
    font-size: var(--base-unit, 1em);
    line-height: 1.618;
    hanging-punctuation: first force-end last;
    color: #000;
    accent-color:#06f;
    background-color:#fdfcfb}

.h0,h1,.h1,h2,.h2,hgroup p strong{font-weight: 800}
.h0{font-size: var(--h0,3.067em)}

h1,.h1{
    font-size: var(--h1,1.978em);
    line-height: 1.146}

h2,.h2{
    font-size: var(--h2,1.476em);
    line-height: 1.236}

blockquote,figcaption,h3,.h3,h4,.h4,h5,.h5,h6,.h6,hgroup p,small,.small{line-height: 1.382}
h3,.h3,hgroup p,blockquote p{font-size: var(--h3,1.22em)}
h4,.h4,h5,.h5,h6,.h6{font-size: calc(var(--base-unit))}

blockquote{
    margin: 2.618em 0;
    padding-left:1em;
    border-left:.618em solid rgba(0,0,0,.15)}

blockquote footer{text-align: end}
blockquote small{display: block}
address,cite{font-style: normal}
cite,figcaption,small,.small{font-size:75%}
sub,sup{font-size: 62%}
.h0,sub,sup{line-height:1}
sup{vertical-align:top}
sub{vertical-align: baseline}
q{font-style: italic}
h3+p{margin-top: 0}

figcaption{
    color: rgba(0,0,0,.8);
    padding: 1ch}

ul,ol{padding-left:1em}

ul[role="list"]{
    list-style: none;
    padding-left:0}

dt{font-weight:700}
dd{margin-top: 0}

a{
    color: #06f;
    text-decoration: underline;
    font-weight: bold}

a,button{cursor: pointer}
a[class]{text-decoration: none}
:not(cite,dd,.h0,h1,.h1,h2,.h2,
h3,.h3,h4,.h4,h5,.h5,h6,.h6,p,small,.small,span)>a{display: block}

@media(hover:hover){
    a,button{transition:all .5s ease}
    a:hover,button:hover{filter:brightness(1.2)}
}

.grad-blue-magenta{background:linear-gradient(to right,#06f 0%, magenta 100%);}
.grad-2{background: linear-gradient(135deg,#000080 0%,#72007f 16%,#bc0070 33%,#ff2447 50%,#ff8a0c 66%,#ffc800 100%)}
.grad-3{background: linear-gradient(170deg,#000080 0%,#003a91 16%,#00659c 33%,#0092a5 50%,#00c353 66%,#73ea00 83%,#ffff00 100%)}

.text-color-red{color: #ff2447}
.text-color-orange{color: #ff8a0c}
.text-color-tomato{color: tomato}
.text-color-yellow{color: #ffc800}
.text-color-green{color: #00c353}
.text-color-green-2{color: #095}
.text-color-blue{color: #003a91}
.text-color-blue-2{color: #06f}
.text-color-purple{color: #72007f}
.text-color-magenta{color: magenta}
.text-color-magenta-2{color: #bc0070}

.gradient-text{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

/*ELEMENTS*/
/*Buttons*/
.button{
    width: min(100%,38ch);
    border: none;
    margin-right:auto;
    margin-left: auto;
    padding: 0;
    text-align: center;
    font-family: inherit;;
    font-size: inherit;
    line-height: 2.618;
    font-weight: 400;
    border-radius:.618em}

.primary.button{
    color: #fff;
    background:linear-gradient(to bottom, #07f 0%,#05e 100%);
    box-shadow:0 0 1.618em rgba(0,153,255,.13),0 .09em .146em rgba(0,0,102,.17),.09em .146em .236em rgba(0,0,102,.17),.146em .236em .382em rgba(0,0,102,.17),.236em .382em .618em rgba(0,0,102,.17),.382em .618em 1em rgba(0,0,102,.17)}

.secondary.button{
    line-height: calc(2.618em - 4px);
    border: 2px solid #06f}

/*Center Buttons Under Elements with 62ch max-width*/
main>*>*>*:not(header,hgroup,h1,.h1,h2,.h2,h3,.h3,hgroup p,figcaption,small)+.button{
    margin-right:min((100% - 38ch)/2,12ch);
    margin-left:min((100% - 38ch)/2,12ch)}

hr{
    border: none;
    height: 1px;
    background:rgba(0,0,0,.3)}

/*Force Golden Ratio on Images*/
figure{
    margin-right: 0;
    margin-left: 0}

figure:not(header figure) img{
    object-fit: cover;
    aspect-ratio:1.618/1}

/*FUNCTIONALITY*/
/*Horizontal Scroll*/
.scroll-x{
    display: flex;
    align-items: flex-start;
    margin:unset;
    overflow-x: auto}

.scroll-x>*+*{margin-left: 1ch}

/*Scroll Snap*/
.scroll-x.scroll-snap{padding-block: 1em}
.scroll-x.scroll-snap>*{flex: 0 0 32.66ch}

@media(prefers-reduced-motion:no-preference){
    @supports (scroll-snap-align: center){
        .scroll-snap{scroll-snap-type: x mandatory}
        .scroll-snap>*{scroll-snap-align: center}
        .scroll-snap>*:first-of-type{margin-left: max(1em,((100% - 100ch) / 2))}
        .scroll-snap>*:last-of-type{margin-right: max(1em,((100% - 100ch) / 2))}
    }
}

/*MODULES*/
/*Headers*/
main>header{width: 100%}
header,.banner{display: flex}
:not(header).banner{position: relative}
main>header:not(.no-img) hgroup{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center}

main>header.no-img{
    padding: 2.618em 1em;
    flex-direction: column}

/*Full Width Header*/
.banner{
    position: relative;
    width: 100%;
    height: min(100vmin,62vh);
    margin: 0;
    padding: 1em 0;
    background: #000;
    justify-content: center;
    align-items: flex-end}

div.banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat}

.banner figure,.banner figure>img{
    width: 100%;
    height: 100%}

.banner figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-mask-image:linear-gradient(to top,rgba(0,0,0,.3)0,rgba(0,0,0,1)calc((var(--h1,1.978em) * 1.146) * 2 + 9.472em));
    mask-image:linear-gradient(to top,rgba(0,0,0,.4)0%,rgba(0,0,0,1)calc((var(--h1,1.978em) * 1.146) * 2 + 9.472em))}

.banner img{object-fit: cover}

.banner hgroup{
    z-index: 2;
    margin-inline: max(1em,((100% - 50ch) / 2))}

header small{
    font-weight: 700;
    text-transform: uppercase;}

header small a{
    color: inherit;
    text-decoration: none}

.banner h1{
    color:#fff;
    text-align: center;
    text-shadow:0 0 1ch rgba(0,0,0,.2),0 .146ch .236ch rgba(0,0,0,.2),.146ch .236ch .382ch rgba(0,0,0,.2),.236ch .382ch .618ch rgba(0,0,0,.2)}

.banner h1 a{font-weight: inherit}

/*Split Header*/
.response{
    flex-wrap: wrap;
    align-items: center;
    padding: 0}

.response .video-container>div{width: auto}

.response>*{
    flex:1 1 32rem;
    margin: 0}

.response hgroup{
    padding:1em;
    order: 2}

.response figure+*{
    padding:1.618em 1em;
    text-align: center}

/*main>nav~header.no-img~:nth-child(even),*/
.no-img,
main>header~:nth-child(even){
    background-color:#f7fafd;
    border-top: 1px solid #cce0f5;
    border-bottom: 1px solid #cce0f5}

main nav{
    position: sticky;
    top: -1.618rem;
    z-index: 999;
}

main nav div,#sub-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.618rem;
    margin: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd}

main nav ul{
    padding: 0 max(1em,((100% - 100ch) / 2))!important;
    white-space: nowrap}
main nav ul.scroll-x>*+*{margin-left: 1em}

main nav a{
    font-weight: 500;
    color: inherit;
    text-decoration: none}

#cc{
    width: fit-content;
    height: 1.618em;
    line-height: 1.618em;
    text-transform: uppercase;
    font-weight: 800;
    display: block;
    margin: 0 auto
}

/*Cards*/
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.21);
    border-radius: .618em;
/*    overflow: hidden;*/
    background-color: #fff}

.card:has(a){
    border-color:rgba(0,0,0,.13);
    transition: all .3s ease;
    box-shadow:0 0 1ch rgba(0,0,0,.03),0 .146ch .236ch rgba(0,0,0,.03),.146ch .236ch .382ch rgba(0,0,0,.03),.236ch .382ch .618ch rgba(0,0,0,.03);}

.card article{
    padding:.618em;
    display: flex;
    flex-direction: column;
    height: 100%}

.card figure{margin: 0}
.card img{border-radius: .618em .618em 0 0}
.grid .card figure+article{height: calc(100% - 19.766ch)}

.card h3 a{
    color: inherit;
    text-decoration: none}

.card h4{
    font-size: .618em;
    text-transform: uppercase;
    color: #555;
    margin-bottom: .618em
}

.card footer{margin-top: auto}
.card .button{margin: 1em auto 0}

@media(hover:hover){
    .card:has(img) img{transition: all .3s ease}
    .card:has(img,h3 a):hover :is(a,img){filter: brightness(1.2)} 
}

.card:has(a):focus-within, .card:has(a):hover{border-color: #06f}

/*FOOTER*/
main>footer{padding: 1em;}

footer>div{
    display: flex;
    flex-wrap: wrap;
    gap:1em}

footer>div>*{flex: 0 0 32.66ch}
footer strong{display: block}

.social-media{
    display: flex;
    gap:.618em}

.social-media li{width: 1.618em}

footer svg path,
footer svg polygon{
    fill:#888;
    transition: fill .3s ease}
